.overflowindex-hidden {  
  overflow: hidden;
}  

@media (max-height: 960px) {  
  .overflowindex-hidden {  
      overflow: visible;
  }  
}  

.displaynone{
  display: none;
}
.displayshow:hover{
  display: block;
}
/* Animation when the plane flies away */
.fly-away {
  animation: flyUp 2s forwards; /* The 1s should match the timeout duration */
}

/* Keyframes for the flight */
@keyframes flyUp {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-500px); /* Adjust this value for how far the plane moves */
      opacity: 0;
  }
}
/* @media (max-width: 1024px) {  
  .overflowindex-hidden {  
      overflow: visible; 
  }  
}   */